:root {
  --color-base: rgb(250, 250, 250);
  --color-text: black;
  --color-dark: #1d556f;
  --color-accent: #fa360a;
  --color-water: #288fb4;
  --color-road: #efddb2;
  --title-font: "Nabla", system-ui;
  --main-font: monospace;
}

/* ELEMENTS */

body {
  font-family: var(--main-font);
  color: var(--color-text);
  background-color: var(--color-dark);
  margin: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

i {
  font-size: 35px;
  margin-left: 3px;
}

button {
  color: var(--color-text);
  font-family: var(--main-font);
  font-size: 18px;
  padding: 8px 16px;
  border: dashed 1px var(--color-text);
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  transition: ease-in-out 0.1s;
}

footer {
  color: var(--color-base);
  margin-top: 10px;
  margin-left: 30px;
}

a {
  color: var(--color-base);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* CLASSES */

.title {
  margin-top: -20px;
  font-size: 50px;
  font-family: var(--title-font);
  text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.3);
}

.score-panel {
  font-size: 18px;
  margin-top: 25px;
}

.game-container {
  width: 322px;
  background-color: var(--color-base);
  padding: 30px;
  border: dashed 1px;
  border-radius: 10px;
  position: relative;
}

.game-board {
  border: solid 1px var(--color-text);
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  border: solid 1px var(--color-text);
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.cell:hover {
  border: solid 1px rgb(190, 190, 190);
}

.end-game-screen {
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--color4-trans);
}

.end-game-text {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 6px;
}

.hidden {
  display: none;
}

.clicked {
  background-color: var(--color-accent);
  cursor: not-allowed;
}

.victory {
  background-color: var(--color2-trans);
}

.boom {
  background-color: var(--color-base);
  background-image: url(./images/bomb.png);
  background-size: contain;
}

.info-text {
  font-size: 13px;
  margin-bottom: 20px;
}
